
<div class='aaa'>
<!-- <h1 class="my-4">Chi Tiết Sản Phẩm</h1> -->
<div class="card mb-3" style="max-width: 700px;"  *ngIf='product'>
    <div class="row">
        <div class="col-md-7">
            <img class="img-fluid rounded mb-3 mb-md-0" [src]="product.img" alt="">
        </div>
        <div class="col-md-5" style="margin-top: 5 0px;">
          <h5 class="card-title">Tên sản phẩm : {{product.name}}</h5>
          <br>
          <h6><p class="card-text"></p> giá : ${{product.price}} VNĐ</h6>
          <br>
          <p class="card-text">Mô tả sản phẩm:</p>
            <p> {{product.desc}}</p>
        </div>
      </div>
  </div>
</div>


