<div class="container">

  <h1 class="font-weight-light text-center">Sản phẩm mới</h1>

  <hr class="mt-2 mb-5">
   <div class="row">
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card h-100">
                <a><img class="card-img-top" src="https://cdn.nhanh.vn/cdn/store/4902/ps/20200418/img_5520.jpg" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <h5>Tên sản phẩm: Áo cách điệu</h5>
                    <br>
                  </h4>
                  <h5><i class="fa fa-comment-o"></i>Giá: $194.000 VNĐ</h5>
                  <br><br>
                   <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
                <div class="card-footer">
                </div>
              </div>
        </div>
      <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card h-100">
                <a><img class="card-img-top" src="https://cdn.nhanh.vn/cdn/store/4902/ps/20200306/img_2506.jpg" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <h5>Tên sản phầm: Áo phông crop ngực in chữ</h5>
                    <br>
                  </h4>
                  <h5><i class="fa fa-comment-o"></i>Giá: $146.000 VNĐ</h5>
                  <br>
                   <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
                <div class="card-footer">
                 
                </div>
              </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card h-100">
                <a><img class="card-img-top" src="https://cdn.nhanh.vn/cdn/store/4902/ps/20200418/img_5602.jpg" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <h5>Tên sản phẩm: Áo phông crop ngực in chữ</h5>
                    <br>
                  </h4>
                  <h5><i class="fa fa-comment-o"></i>Giá: $167.000 VNĐ</h5>
                  <br>
                   <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
                <div class="card-footer">
                 
                </div>
              </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card h-100">
                <a><img class="card-img-top" src="https://cdn.nhanh.vn/cdn/store/4902/ps/20200306/img_2577.jpg" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <h5>Tên sản phẩm: Quần dài</h5>
                    <br>
                  </h4>
                  <h5><i class="fa fa-comment-o"></i>Giá: $214.000 VNĐ</h5>
                  <br>
                   <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
                <div class="card-footer">
                 
                </div>
              </div>
        </div>
        </div>
      
      