<div class="home-layout">
          <nav class="wthree-w3ls">
                    <div id="logo">
                        <h1> <a class="navbar-brand px-5 mx-5" href="/home">Lyra
                            </a>
                        </h1>
                    </div>
                    <input type="checkbox" id="drop" />
                    <ul class="menu mr-auto">
                        <li class="active"><a href="/home">Trang chủ</a></li>
                        <li><a routerLink="/about">Giới thiệu</a></li>
                        <li><a routerLink="/product">Sản phẩm</a> </li>
                        <li><a href="/news">Tin tức</a></li>
                        <li><a href="contact.html">Liên hệ</a></li>
                    </ul>
                </nav>
<div class="block-about-top">
</div>
<div _ngcontent-tdb-c12="" class="block-about-text "style="margin-bottom: 100px;">
  <div _ngcontent-tdb-c12="" class="about-text-left ">
  <p _ngcontent-tdb-c12="">
    <img _ngcontent-tdb-c12="" alt="" src="https://cdn.nhanh.vn/cdn/store/4902/art/article_1579171883_859.jpg">
    </p>
    </div>
    
    <div _ngcontent-tdb-c12="" class="about-text-right">
      <h3 _ngcontent-tdb-c12="" class="title">LYRA TÌM KIẾM ĐỐI TÁC NHƯỢNG QUYỀN</h3>
      <p class="info"><i class="fa fa-calendar"></i> <span>16-01-2020</span></p>
      <p _ngcontent-tdb-c12="">💙 LYRA TÌM KIẾM ĐỐI TÁC NHƯỢNG QUYỀN TOÀN QUỐC 💙</p>
      <a class="btn btn-primary" href="/lyra-tim-kiem-doi-tac-nhuong-quyen-n59164.html"> Xem ngay <i class="fa fa-long-arrow-right right" aria-hidden="true"></i></a>
      </div>
      </div>
      <div _ngcontent-tdb-c12="" class="block-about-text "style="margin-bottom: 100px;">
  <div _ngcontent-tdb-c12="" class="about-text-left ">
  <p _ngcontent-tdb-c12="">
    <img _ngcontent-tdb-c12="" alt="" src="https://cdn.nhanh.vn/cdn/store/4902/art/article_1558595976_470.jpg">
    </p>
    </div>
    
    <div _ngcontent-tdb-c12="" class="about-text-right">
      <h3 _ngcontent-tdb-c12="" class="title">TUYỂN DỤNG SALE ONLINE LEADER</h3>
      <p class="info"><i class="fa fa-calendar"></i> <span>23-05-2019</span></p>
      <p _ngcontent-tdb-c12=""> TUYỂN DỤNG SALE ONLINE LEADER</p>
      <a class="btn btn-primary" href="/lyra-tim-kiem-doi-tac-nhuong-quyen-n59164.html"> Xem ngay <i class="fa fa-long-arrow-right right" aria-hidden="true"></i></a>
      </div>
      </div>
    <!-- footer -->
    <footer class="py-lg-5 py-4">
        <div class="container py-sm-3">
            <div class="row footer-grids">
                <div class="col-lg-4 mt-4">

                    <h2> <img src="https://cf.shopee.vn/file/6507893c9020c9e9fac9167f3369346e_tn" alt=" " class="img-fluid">
                    </h2>
                </div>

                <div class="col-lg-4 mt-4 ad-info">
                    <h4 class="mb-4">Contact Info</h4>
                    <p><span class="fa fa-map-marker"></span>90 nsequursu dsdesdc,
                        xxx Honey Street 049436.<span>Newyork, NY.</span></p>
                    <p class="phone"><span class="fa fa-phone"></span> +1(12) 123 456 789 </p>
                    <p class="phone"><span class="fa fa-fax"></span> +1(12) 123 456 789 </p>
                    <p><span class="fa fa-envelope"></span><a href="mailto:info@example.com">info@example.com</a></p>
                </div>

            </div>
        </div>
    </footer>
    <!-- //footer -->
    <!-- copyright -->
    <div class="copy_right p-3 d-flex">
        <div class="container">
            <div class="row d-flex">
                <div class="col-lg-9 copy_w3pvt">
                    <p class="text-lg-left text-center">© 2019 Infinitude. All rights reserved | Design by
                        <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>

                </div>
                <!-- move top -->
                <div class="col-lg-3 move-top text-lg-right text-center">
                    <a href="#home" class="move-top">
                        <span class="fa fa-angle-double-up mt-3" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- move top -->
            </div>
        </div>

    </div>
</div>